<html>
  <head>
    <style type="text/css">
      body {
        background-color: #a7b9e1;
      }
    </style>
  </head><body><table align="center" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td background="<%= @assets_url %>/images/themes/airplane_top.jpg" bgcolor="#a7b9e1" height="110"> </td></tr><tr><td bgcolor="#a7b9e1" height="100%" valign="top" width="100%"><table style="table-layout: fixed;" align="center" cellpadding="0" cellspacing="0" height="100%" width="100%"><tbody><tr><td width="10"> </td><td style="overflow: hidden; white-space: nowrap;" valign="top"><table style="white-space: normal;" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td height="10"> </td></tr><tr><td><font style="font-family: inherit; font-size: 13px; color: rgb(34, 34, 68);" color="#222244" size="2"><div style=""><span
 id="yiv828589778y1324740337"><div>SAMPLE_TEXT</div></span></div></font></td></tr><tr><td height="10"> </td></tr></tbody></table></td><td width="10"> </td></tr></tbody></table></td></tr></tbody></table></body></html>
