<html>
  <head>
    <style type="text/css">
      body {
        background-color: #e9e442;
      }
    </style>
  </head>
  <body>
    <table cellpadding="5" cellspacing="0" width="100%" align="center" bgcolor="#e9e442">
      <tr>
        <td>
          
          <!-- top of image -->
          <table cellpadding="0" cellspacing="0" width="216">
            <tr>
              <td background="<%= @assets_url %>/images/themes/bike_tl.gif" width="216" height="75" style="margin-left: -1px; height: 75px; width: 216;">
              </td>
            </tr>
          </table>
          
          <!-- middle of image -->
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td style="color: #113300;">
                SAMPLE_TEXT
              </td>
              <td background="<%= @assets_url %>/images/themes/bike_rb.gif" width="125" height="90" style="color: #113300;">
                &nbsp;
              </td>
            </tr>
          </table>
          
          <!-- bottom of image -->
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td height="160">
                &nbsp;
              </td>
              <td background="<%= @assets_url %>/images/themes/bike_br.gif" height="160" width="501">
                &nbsp;
              </td>
            </tr>
          </table>
          
        </td>
      </tr>
    </table>
  </body>
</html>


