<html>
  <head>
    <style type="text/css">
      body {
        background-image: url("<%= @assets_url %>/images/themes/bluescrapbook_t.gif");
      }
    </style>
  </head><body><table align="center" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td background="<%= @assets_url %>/images/themes/bluescrapbook_t.gif" bgcolor="#d8f2ff" height="59"> </td></tr><tr><td bgcolor="#d8f2ff" height="100%" valign="top" width="100%"><table style="table-layout: fixed;" align="center" cellpadding="0" cellspacing="0" height="100%" width="100%"><tbody><tr><td width="60"> </td><td style="overflow: hidden; white-space: nowrap;" valign="top"><table style="white-space: normal;" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td height="20"> </td></tr><tr><td><font style="font-family: inherit; font-size: 12pt; color: rgb(28, 75, 122);" color="#1c4b7a" size="3"><div style=""><span
 id="yiv126490014y687738067"><div>SAMPLE_TEXT</div></span></div></font></td></tr><tr><td height="15"> </td></tr></tbody></table></td><td width="60"> </td></tr></tbody></table></td></tr><tr><td background="<%= @assets_url %>/images/themes/bluescrapbook_b.gif" bgcolor="#d8f2ff" height="141"> </td></tr></tbody></table></body></html>
