<html>
  <head>
    <style type="text/css">
      body {
        background-color: #f1e4eb;
      }
    </style>
  </head><body><table width="700" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td width="100%" height="100%" bgcolor="#f1e4eb" valign="top"><table width="100%" height="100%" style="table-layout:fixed;" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td width="55"> </td><td valign="top" style="overflow:hidden;white-space:nowrap;"><table width="100%" style="white-space:normal;" cellspacing="0" cellpadding="0"><tbody><tr><td height="40"> </td></tr><tr><td><font size="3" color="#454648" style="font-size: 12pt; color: rgb(69, 70, 72); font-family: inherit; "><div style=""><div>SAMPLE_TEXT</div><div style=""></div></div></font></td></tr><tr><td height="15"> </td></tr></tbody></table></td><td width="55"> </td></tr></tbody></table></td></tr><tr><td height="160" bgcolor="#f1e4eb"><table cellpadding="0" cellspacing="0" align="center"><tbody><tr><td> </td><td align="center" width="700" height="160"><img src="<%= @assets_url %>/images/themes/canyon_b.jpg" width="700"></td><td> </td></tr></tbody></table></td></tr></tbody></table></body></html>