<html>
  <head>
    <style type="text/css">
      body {
        background-color: #121315;
      }
    </style>
  </head>
  <body>
    <table cellpadding="5" cellspacing="0" width="100%" align="center" bgcolor="#121315">
      <tr>
        <td>
          
          <!-- middle of image -->
          <table cellpadding="30" cellspacing="0" width="100%">
            <tr>
              <td style="color: #ffffff;">
                SAMPLE_TEXT
              </td>
            </tr>
          </table>
          
          <!-- bottom of image -->
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td background="<%= @assets_url %>/images/themes/cityskyline_b.jpg" height="113">
                &nbsp;
              </td>
            </tr>
          </table>
          
        </td>
      </tr>
    </table>
  </body>
</html>


