<html>
  <head>
    <style type="text/css">
      body {
        background-color: #99ccff;
      }
    </style>
  </head>
  <body>
    <table cellpadding="5" cellspacing="0" width="100%" bgcolor="#99ccff">
      <tr>
        <td>
          <!-- top of image -->
          <table cellpadding="0" cellspacing="0">
            <tr>
              <td background="<%= @assets_url %>/images/themes/construct_tl.gif" width="300" height="75" style="margin-left: -1px; height: 75px; width: 300px;">
              </td>
            </tr>
          </table>
          
          <!-- middle of image -->
          <table cellpadding="0" cellspacing="0">
            <tr>
              <td background="<%= @assets_url %>/images/themes/construct_c.gif" width="80" height="3">
                &nbsp;
              </td>
              <td style="color: #001133;">
                <br />
                SAMPLE_TEXT
                <br />
                &nbsp;
              </td>
            </tr>
          </table>
          
          <!-- bottom of image -->
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td background="<%= @assets_url %>/images/themes/construct_bl.gif" height="160">
                &nbsp;
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>


