<html>
  <head>
    <style type="text/css">
      body {
        background-image: url("<%= @assets_url %>/images/themes/bg_daisygreen_1.gif");
        background-position: 17px 41px;
      }
    </style>
  </head><body><table align="center" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td background="<%= @assets_url %>/images/themes/bg_daisygreen_1.gif" bgcolor="#f2fff2" height="300px" valign="top" width="100%"><table style="table-layout: fixed;" align="center" cellpadding="0" cellspacing="0" height="100%" width="100%"><tbody><tr><td width="10"> </td><td style="overflow: hidden; white-space: nowrap;" valign="top"><table style="white-space: normal;" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td height="10"> </td></tr><tr><td><font style="font-family: inherit; font-size: 16px; color: rgb(121, 74, 114);" color="#794a72" size="3"><div style=""><span id="yiv543306417y393027103"><div>SAMPLE_TEXT</div></span></div></font></td></tr><tr><td height="10"></td></tr></tbody></table></td><td width="10"></td></tr></tbody></table></td></tr></tbody></table></body></html>