<html>
  <head>
    <style type="text/css">
      body {
        background-color: #9efff5;
      }
    </style>
  </head><body><table width="100%" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td height="75" bgcolor="#9efff5" background="<%= @assets_url %>/images/themes/dandelion_t.gif"> </td></tr><tr><td width="100%" height="100%" bgcolor="#9efff5" valign="top"><table width="100%" height="100%" style="table-layout:fixed;" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td width="60"> </td><td valign="top" style="overflow:hidden;white-space:nowrap;"><table width="100%" style="white-space:normal;" cellspacing="0" cellpadding="0"><tbody><tr><td height="10"> </td></tr><tr><td><font size="3" color="#01433c" style="font-size: 12pt; color: rgb(1, 67, 60); font-family: inherit; "><div style=""><div>SAMPLE_TEXT</div><div style=""></div></div></font></td></tr><tr><td height="10"> </td></tr></tbody></table></td><td width="60"> </td></tr></tbody></table></td></tr><tr><td height="150" bgcolor="#9efff5" background="<%= @assets_url %>/images/themes/dandelion_b.gif"> </td></tr></tbody></table></body></html>