<html>
  <head>
    <style type="text/css">
      body {
        background-color: #000;
      }
    </style>
  </head>
  <body>
    <table cellpadding="5" cellspacing="0" width="100%" bgcolor="000">
      <tr>
        <td>
          <table cellpadding="0" cellspacing="0">
            <tr>
              <td width="125" height="381" style="height: 381px; width: 125px; margin-bottom: -3px !important; display: inline-block;">
                <img src="<%= @assets_url %>/images/themes/fantasycity_lb.gif" alt="" height="383" width="125" border="0">
              </td>
              <td align="left" valign="top" style="text-align: left; color: white;">
                SAMPLE_TEXT
              </td>
            </tr>
          </table>
          <table cellpadding="0" cellspacing="0">
            <tr>
              <td style="height: 146px; display: inline-block;">
                <img src="<%= @assets_url %>/images/themes/fantasycity_bl.gif" width="625" height="146">
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>