<html>
  <head>
    <style type="text/css">
      body {
        background-color: #88bd63;
      }
    </style>
  </head><body><table width="700" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td width="100%" height="100%" bgcolor="#88bd63" valign="top"><table width="100%" height="100%" style="table-layout:fixed;" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td width="45"> </td><td valign="top" style="overflow:hidden;white-space:nowrap;"><table width="100%" style="white-space:normal;" cellspacing="0" cellpadding="0"><tbody><tr><td height="40"> </td></tr><tr><td><font size="3" color="#000000" style="font-size: 12pt; color: rgb(0, 0, 0); font-family: inherit; "><div style=""><div>SAMPLE_TEXT</div><div style="color:rgb(0, 0, 0);"></div></div></font></td></tr><tr><td height="50"> </td></tr></tbody></table></td><td width="45"> </td></tr></tbody></table></td></tr><tr><td height="160" bgcolor="#88bd63"><table cellpadding="0" cellspacing="0" align="center"><tbody><tr><td> </td><td align="center" width="700" height="160"><img src="<%= @assets_url %>/images/themes/football_f.jpg" width="700"></td><td> </td></tr></tbody></table></td></tr></tbody></table></body></html>