<html>
  <head>
    <style type="text/css">
      body {
        background-color: #520006;
      }
    </style>
  </head><body><table width="100%" align="center" cellpadding="0" cellspacing="0"><tbody><tr><td height="75" bgcolor="#520006"><table align="right" cellpadding="0" cellspacing="0"><tbody><tr><td> </td><td height="75" width="500" align="right"><img src="<%= @assets_url %>/images/themes/gothrose2_tr.gif" width="500"></td></tr></tbody></table></td></tr><tr><td height="100%" valign="top" width="100%" bgcolor="#520006"><table style="table-layout: fixed;" height="100%" width="100%" align="center" cellpadding="0" cellspacing="0"><tbody><tr><td width="50"> </td><td style="overflow: hidden; white-space: nowrap;" valign="top"><table style="white-space: normal;" width="100%" cellpadding="0" cellspacing="0"><tbody><tr><td height="10"> </td></tr><tr><td><font style="font-family: inherit; font-size: 14pt; color: rgb(255, 255, 255);" color="#ffffff" size="4"><div style="">SAMPLE_TEXT</div></font></td></tr><tr><td height="10"> </td></tr></tbody></table></td><td width="50"> </td></tr></tbody></table></td></tr><tr><td height="148" bgcolor="#520006"><table align="left" cellpadding="0" cellspacing="0"><tbody><tr><td height="148" width="349"><img src="<%= @assets_url %>/images/themes/gothrose_bl.gif" width="349"></td><td align="right"> </td></tr></tbody></table></td></tr></tbody></table></body></html>