<html>
  <head>
    <style type="text/css">
      body {
        background-color: #3d7839;
      }
    </style>
  </head><body><table width="700" align="center" cellpadding="0" cellspacing="0"><tbody><tr><td height="100%" valign="top" width="100%" bgcolor="#3d7839"><table style="table-layout: fixed;" height="100%" width="100%" align="center" cellpadding="0" cellspacing="0"><tbody><tr><td width="25"> </td><td style="overflow: hidden; white-space: nowrap;" valign="top"><table style="white-space: normal;" width="100%" cellpadding="0" cellspacing="0"><tbody><tr><td height="25"> </td></tr><tr><td><font style="font-family: inherit; font-size: 12pt; color: rgb(255, 255, 255);" color="#ffffff" size="3"><div style=""><span id="yiv627605692y1468082395"><div>SAMPLE_TEXT</div></span></div></font></td></tr><tr><td height="25"> </td></tr></tbody></table></td><td width="25"> </td></tr></tbody></table></td></tr><tr><td height="149" bgcolor="#3d7839"><table align="left" cellpadding="0" cellspacing="0"><tbody><tr><td height="149" width="700"><img src="<%= @assets_url %>/images/themes/greenfantasia_bc.jpg" width="700"></td><td align="right"> </td></tr></tbody></table></td></tr></tbody></table></body></html>