<html>
  <head>
    <style type="text/css">
      body {
        background-color: #d6f2b9;
      }
    </style>
  </head><body><table width="100%" align="center" cellpadding="0" cellspacing="0"><tbody><tr><td height="75" bgcolor="#d6f2b9"><table align="left" cellpadding="0" cellspacing="0"><tbody><tr><td height="75" width="156"><img src="<%= @assets_url %>/images/themes/greencircles_tl.gif" width="156"></td><td align="right"> </td></tr></tbody></table></td></tr><tr><td height="100%" valign="top" width="100%" bgcolor="#d6f2b9"><table style="table-layout: fixed;" height="100%" width="100%" align="center" cellpadding="0" cellspacing="0"><tbody><tr><td width="50"> </td><td style="overflow: hidden; white-space: nowrap;" valign="top"><table style="white-space: normal;" width="100%" cellpadding="0" cellspacing="0"><tbody><tr><td height="20"> </td></tr><tr><td><font style="font-family: inherit; font-size: 10pt; color: rgb(83, 143, 0);" color="#538f00" size="3"><div style=""><span id="yiv1238065898y807541879"><div>SAMPLE_TEXT</div><div><br></div></span></div></font></td></tr><tr><td height="20"> </td></tr></tbody></table></td><td width="50"> </td></tr></tbody></table></td></tr><tr><td height="160" bgcolor="#d6f2b9"><table align="right" cellpadding="0" cellspacing="0"><tbody><tr><td> </td><td height="160" width="435" align="right"><img src="<%= @assets_url %>/images/themes/greencircles_br.gif" width="435"></td></tr></tbody></table></td></tr></tbody></table></body></html>