<html>
  <head>
    <style type="text/css">
      body {
        background-color: #cbc3b0;
      }
    </style>
  </head><body><table width="100%" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td height="47" bgcolor="#cbc3b0"><table cellpadding="0" cellspacing="0" align="center"><tbody><tr><td> </td><td align="center" width="298" height="47"><img src="<%= @assets_url %>/images/themes/joynprosperity_tc.gif" width="298"></td><td> </td></tr></tbody></table></td></tr><tr><td width="100%" height="100%" bgcolor="#cbc3b0" valign="top"><table width="100%" height="100%" style="table-layout:fixed;" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td width="40"> </td><td valign="top" style="overflow:hidden;white-space:nowrap;"><table width="100%" style="white-space:normal;" cellspacing="0" cellpadding="0"><tbody><tr><td height="30"> </td></tr><tr><td><font size="3" color="#766289" style="font-size: 12pt; color: rgb(118, 98, 137); font-family: inherit; "><div style=""><div>SAMPLE_TEXT</div><div style=""></div></div></font></td></tr><tr><td height="40"> </td></tr></tbody></table></td><td width="40"> </td></tr></tbody></table></td></tr><tr><td height="147" bgcolor="#cbc3b0"><table cellpadding="0" cellspacing="0" align="center"><tbody><tr><td> </td><td align="center" width="487" height="147"><img src="<%= @assets_url %>/images/themes/joynprosperity_bc.gif" width="487"></td><td> </td></tr></tbody></table></td></tr></tbody></table></body></html>