<html>
  <head>
    <style type="text/css">
      body {
        background-color: #000;
      }
    </style>
  </head><body><table width="100%" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td width="100%" height="100%" bgcolor="#000000" valign="top"><table width="100%" height="100%" style="table-layout:fixed;" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td width="40"> </td><td valign="top" style="overflow:hidden;white-space:nowrap;"><table width="100%" style="white-space:normal;" cellspacing="0" cellpadding="0"><tbody><tr><td height="40"> </td></tr><tr><td><font size="3" color="#f8b171" style="font-size: 10pt; color: rgb(248, 177, 113); font-family: inherit; "><div style=""><div>SAMPLE_TEXT</div><div style=""></div></div></font></td></tr><tr><td height="10"> </td></tr></tbody></table></td><td width="74" align="right" valign="top"><img src="<%= @assets_url %>/images/themes/nightatbay_rt.gif" width="64" height="64" alt="" border="0"></td></tr></tbody></table></td></tr><tr><td height="160" bgcolor="#000000"><table cellpadding="0" cellspacing="0" align="left"><tbody><tr><td width="1024" height="160"><img src="<%= @assets_url %>/images/themes/nightatbay_br.jpg" width="1024"></td><td align="right"> </td></tr></tbody></table></td></tr></tbody></table></body></html>