<html>
  <head>
    <style type="text/css">
      body {
        background-color: #d0e16a;
      }
    </style>
  </head><body><table align="center" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td bgcolor="#d0e16a" height="77"><table align="right" cellpadding="0" cellspacing="0"><tbody><tr><td> </td><td align="right" height="77" width="343"><img src="<%= @assets_url %>/images/themes/nouveauflowers_tr.gif" width="343"></td></tr></tbody></table></td></tr><tr><td bgcolor="#d0e16a" height="100%" valign="top" width="100%"><table style="table-layout: fixed;" align="center" cellpadding="0" cellspacing="0" height="100%" width="100%"><tbody><tr><td width="40"> </td><td style="overflow: hidden; white-space: nowrap;" valign="top"><table style="white-space: normal;" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td height="10"> </td></tr><tr><td><font style="font-family: inherit; font-size: 12pt; color: rgb(52, 67, 37);" color="#344325" size="3"><div style=""><span id="yiv123363385y1872254789"><div>SAMPLE_TEXT</div></span></div></font></td></tr><tr><td height="10"> </td></tr></tbody></table></td><td width="40"> </td></tr></tbody></table></td></tr><tr><td bgcolor="#d0e16a" height="147"><table align="left" cellpadding="0" cellspacing="0"><tbody><tr><td height="147" width="301"><img src="<%= @assets_url %>/images/themes/nouveauflowers_bl.gif" width="301"></td><td align="right"> </td></tr></tbody></table></td></tr></tbody></table></body></html>