<html>
  <head>
    <style type="text/css">
      body {
        background-color: #fff;
      }
    </style>
  </head>
  <body>
    <table cellpadding="5" cellspacing="0" width="670" align="center" bgcolor="#fff">
      <tr>
        <td>
          
          <!-- top of image -->
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td background="<%= @assets_url %>/images/themes/oldletter_tc.jpg" width="670" height="75" style="margin-left: -1px;">
              </td>
            </tr>
          </table>
          
          <!-- middle of image -->
          <table cellpadding="30" cellspacing="0" width="100%">
            <tr>
              <td background="<%= @assets_url %>/images/themes/oldletter_c2.jpg" width="100%" height="25" style="color: #442200;">
                
                <table cellpadding="0" cellspacing="0" width="100%">
                  <tr>
                    <td width="50">
                      &nbsp;
                    </td>
                    <td>
                      &nbsp;
                      SAMPLE_TEXT
                      &nbsp;
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          
          <!-- bottom of image -->
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td background="<%= @assets_url %>/images/themes/oldletter_bc.jpg" height="160" width="670">
                &nbsp;
              </td>
            </tr>
          </table>
          
        </td>
      </tr>
    </table>
  </body>
</html>


