<html>
  <head>
    <style type="text/css">
      body {
        background-color: #cc0000;
      }
    </style>
  </head><body><table align="center" cellpadding="0" cellspacing="0" width="600"><tbody><tr><td bgcolor="#cc0000" height="75"><table align="center" cellpadding="0" cellspacing="0"><tbody><tr><td> </td><td align="center" height="75" width="600"><img src="<%= @assets_url %>/images/themes/owl_t.gif" width="600"></td><td> </td></tr></tbody></table></td></tr><tr><td bgcolor="#cc0000" height="100%" valign="top" width="100%"><table style="table-layout: fixed;" align="center" cellpadding="0" cellspacing="0" height="100%" width="100%"><tbody><tr><td align="left" valign="top" width="130"><img src="<%= @assets_url %>/images/themes/owl_c.gif" alt="" border="0" height="135" width="125"></td><td style="overflow: hidden; white-space: nowrap;" valign="top"><table style="white-space: normal;" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td height="30"> </td></tr><tr><td><font style="font-family: inherit; font-size: 10pt; color: rgb(255, 255, 255);" color="#ffffff" size="3"><div style=""><span id="yiv368837661y1285540317"><div>SAMPLE_TEXT</div></span></div></font></td></tr><tr><td height="30"> </td></tr></tbody></table></td><td width="30"> </td></tr></tbody></table></td></tr><tr><td bgcolor="#cc0000" height="159"><table align="center" cellpadding="0" cellspacing="0"><tbody><tr><td> </td><td align="center" height="159" width="600"><img src="<%= @assets_url %>/images/themes/owl_b.gif" width="600"></td><td> </td></tr></tbody></table></td></tr></tbody></table></html>