<html>
  <head>
    <style type="text/css">
      body {
        background-color: #91dbf5;
      }
    </style>
  </head><body><table align="center" cellpadding="0" cellspacing="0" width="750"><tbody><tr><td bgcolor="#91dbf5" height="75"><table align="center" cellpadding="0" cellspacing="0"><tbody><tr><td> </td><td align="center" height="75" width="634"><img src="<%= @assets_url %>/images/themes/panda_tc.gif" width="634"></td><td> </td></tr></tbody></table></td></tr><tr><td bgcolor="#91dbf5" height="100%" valign="top" width="100%"><table style="table-layout: fixed;" align="center" cellpadding="0" cellspacing="0" height="100%" width="100%"><tbody><tr><td width="40"> </td><td style="overflow: hidden; white-space: nowrap;" valign="top"><table style="white-space: normal;" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td height="20"> </td></tr><tr><td><font style="font-family: inherit; font-size: 10pt; color: rgb(0, 51, 102);" color="#003366" size="3"><div style=""><span id="yiv694447063y1936728597"><div>SAMPLE_TEXT</div></span></div></font></td></tr><tr><td height="10"> </td></tr></tbody></table></td><td width="40"> </td></tr></tbody></table></td></tr><tr><td bgcolor="#91dbf5" height="160"><table align="center" cellpadding="0" cellspacing="0"><tbody><tr><td> </td><td align="center" height="160" width="750"><img src="<%= @assets_url %>/images/themes/panda_bc.gif" width="750"></td><td> </td></tr></tbody></table></td></tr></tbody></table></html>