<html>
  <head>
    <style type="text/css">
      body {
        background-color: #fff;
      }
    </style>
  </head>
  <body>
    <table cellpadding="5" cellspacing="0" width="100%" bgcolor="#fff">
      <tr>
        <td>
          <!-- top of image -->
          <table cellpadding="0" cellspacing="0">
            <tr>
              <td background="<%= @assets_url %>/images/themes/paperandseal_t.jpg" width="1500" height="74" style="margin-left: -1px; height: 74px; width: 1500px;">
              </td>
            </tr>
          </table>
          
          <!-- middle of image -->
          <table cellpadding="15" cellspacing="0" width="100%">
            <tr>
              <td background="<%= @assets_url %>/images/themes/paperandseal_c.jpg" width="100%" height="100" style="color: #442200;">
                SAMPLE_TEXT
              </td>
            </tr>
          </table>
          
          <!-- bottom of image -->
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td background="<%= @assets_url %>/images/themes/paperandseal_b.jpg" height="146" width="1500">
                &nbsp;
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>


