<html>
  <head>
    <style type="text/css">
      body {
        background-color: #fff5f6;
      }
    </style>
  </head>
  <body>
    <table cellpadding="5" cellspacing="0" width="100%" align="center" bgcolor="#fff5f6">
      <tr>
        <td background="<%= @assets_url %>/images/themes/bg_bouquetpink_1.gif">
          
          <!-- middle of image -->
          <table cellpadding="30" cellspacing="0" width="100%">
            <tr>
              <td style="color: #bf005f;">
                SAMPLE_TEXT
              </td>
            </tr>
          </table>
          
        </td>
      </tr>
    </table>
  </body>
</html>


