<html>
  <head>
    <style type="text/css">
      body {
        background-color: #8eb15f;
      }
    </style>
  </head><body><table width="100%" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td height="45" bgcolor="#8eb15f" background="<%= @assets_url %>/images/themes/simplisticnature_t.jpg"> </td></tr><tr><td width="100%" height="100%" bgcolor="#8eb15f" valign="top"><table width="100%" height="100%" style="table-layout:fixed;" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td width="50"> </td><td valign="top" style="overflow:hidden;white-space:nowrap;"><table width="100%" style="white-space:normal;" cellspacing="0" cellpadding="0"><tbody><tr><td height="20"> </td></tr><tr><td><font size="3" color="#1c1f14" style="font-size: 10pt; color: rgb(28, 31, 20); font-family: inherit; "><div style=""><div>SAMPLE_TEXT</div><div style=""></div></div></font></td></tr><tr><td height="15"> </td></tr></tbody></table></td><td width="50"> </td></tr></tbody></table></td></tr><tr><td height="160" bgcolor="#8eb15f" background="<%= @assets_url %>/images/themes/simplisticnature_b.jpg"> </td></tr></tbody></table></body></html>