<html>
  <head>
    <style type="text/css">
      body {
        background-color: #fff;
      }
    </style>
  </head><body><table width="100%" align="center" cellpadding="0" cellspacing="0"><tbody><tr><td height="100%" valign="top" width="100%" bgcolor="#ffffff"><table style="table-layout: fixed;" height="100%" width="100%" align="center" cellpadding="0" cellspacing="0"><tbody><tr><td valign="bottom" width="170" align="left"><img src="<%= @assets_url %>/images/themes/liam_sitting_bottomleft.jpg" alt="" height="140" width="160" border="0"></td><td style="overflow: hidden; white-space: nowrap;" valign="top"><table style="white-space: normal;" width="100%" cellpadding="0" cellspacing="0"><tbody><tr><td height="10"> <br></td></tr><tr><td><font style="font-family: Verdana,Arial,sans-serif; font-size: 13px; color: rgb(123, 0, 153);" color="#7b0099" face="Verdana,Arial,sans-serif" size="2"><div style=""><div>SAMPLE_TEXT_HERE<br></div></div></font></td></tr><tr><td height="100"> <br></td></tr></tbody></table></td><td width="10"> <br></td></tr></tbody></table></td></tr></tbody></table></body></html>