<html>
  <head>
    <style type="text/css" id="extra_css">
      body {
        background-color: BACKGROUND_COLOR;
        color: FOREGROUND_COLOR;
      }
    </style>
  </head>
  
  <body bgcolor="BACKGROUND_COLOR"><table align="center" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td bgcolor="BACKGROUND_COLOR" height="300" valign="top" width="100%"><table style="table-layout: fixed;" align="center" cellpadding="0" cellspacing="0" height="100%" width="100%"><tbody><tr><td width="10"> </td><td style="overflow: hidden; white-space: nowrap;" valign="top"><table style="white-space: normal;" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td height="10"> </td></tr><tr><td><font style="font-family: inherit; font-size: 16px; color: FOREGROUND_COLOR;" color="FOREGROUND_COLOR" size="3"><div style=""><div>SAMPLE_TEXT</div><div style=""></div></div></font></td></tr><tr><td height="10"> </td></tr></tbody></table></td><td width="10"> </td></tr></tbody></table></td></tr></tbody></table></body></html>

