<html>
  <head>
    <style type="text/css">
      body {
        background-color: #ace548;
      }
    </style>
  </head>
  <body>
    <table cellpadding="5" cellspacing="0" width="100%" align="center" bgcolor="#ace548">
      <tr>
        <td>
          
          <!-- top of image -->
          <table cellpadding="0" cellspacing="0" width="398">
            <tr>
              <td background="<%= @assets_url %>/images/themes/springfantasy_tl.gif" width="421" height="75">
              </td>
            </tr>
          </table>
          
          <!-- middle of image -->
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td background="<%= @assets_url %>/images/themes/springfantasy_lt.gif" width="125" height="294" style="color: #4d0000; overflow: hidden;">
                &nbsp;
              </td>
              <td rowspan="2" valign="top">
                <table cellpadding="30" cellspacing="0" width="100%">
                  <tr>
                    <td style="color: #113300;">
                      SAMPLE_TEXT
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                &nbsp;
              </td>
            </tr>
          </table>          
          
        </td>
      </tr>
    </table>
  </body>
</html>


