<html>
  <head>
    <style type="text/css">
      body {
        background-color: #f6f4e5;
      }
    </style>
  </head><body><table width="100%" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td height="75" bgcolor="#f6f4e5" background="<%= @assets_url %>/images/themes/108stitches_t.gif"> </td></tr><tr><td width="100%" height="100%" bgcolor="#f6f4e5" valign="top"><table width="100%" height="100%" style="table-layout:fixed;" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td width="50"> </td><td valign="top" style="overflow:hidden;white-space:nowrap;"><table width="100%" style="white-space:normal;" cellspacing="0" cellpadding="0"><tbody><tr><td height="30"> </td></tr><tr><td><font size="3" color="#442200" style="font-size: 12pt; color: rgb(68, 34, 0); font-family: inherit; "><div style=""><div><font class="yiv783519471Apple-style-span" color="#442200">SAMPLE_TEXT</font></div><div style="color:rgb(68, 34, 0);"></div></div></font></td></tr><tr><td height="30"> </td></tr></tbody></table></td><td width="50"> </td></tr></tbody></table></td></tr><tr><td height="75" bgcolor="#f6f4e5" background="<%= @assets_url %>/images/themes/108stitches_b.gif"> </td></tr></tbody></table></body></html>