<html>
  <head>
    <style type="text/css">
      body {
        background-color: #fff;
      }
    </style>
  </head>
  <body>
    <table cellpadding="0" cellspacing="0" width="672" align="center" bgcolor="#fff">
      <tr>
        <td>
          <!-- top of image -->
          <table cellpadding="0" cellspacing="0">
            <tr>
              <td background="<%= @assets_url %>/images/themes/treasuremap_tc.jpg" width="672" height="71">
              </td>
            </tr>
          </table>
          
          <!-- middle of image -->
          <table cellpadding="30" cellspacing="0" width="100%">
            <tr>
              <td background="<%= @assets_url %>/images/themes/treasuremap_c.jpg" width="100%" height="15" style="color: #442200;">
                SAMPLE_TEXT
              </td>
            </tr>
          </table>
          
          <!-- bottom of image -->
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <td background="<%= @assets_url %>/images/themes/treasuremap_bc.jpg" height="152" width="672">
                &nbsp;
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>


