<html>
  <head>
    <style type="text/css">
      body {
        background-color: #e4ffdd;
      }
    </style>
  </head><body><table align="center" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td background="<%= @assets_url %>/images/themes/bg_tulipsgreen_1.gif" bgcolor="#e4ffdd" height="300px" valign="top" width="100%"><table style="table-layout: fixed;" align="center" cellpadding="0" cellspacing="0" height="100%" width="100%"><tbody><tr><td width="10"> </td><td style="overflow: hidden; white-space: nowrap;" valign="top"><table style="white-space: normal;" cellpadding="0" cellspacing="0" width="100%"><tbody><tr><td height="10"> </td></tr><tr><td><font style="font-family: inherit; font-size: 13px; color: rgb(3, 61, 61);" color="#033d3d" size="2"><div style=""><span id="yiv1188352105y1269717396"><div>SAMPLE_TEXT</div></span></div></font></td></tr><tr><td height="10"> </td></tr></tbody></table></td><td width="10"> </td></tr></tbody></table></td></tr></tbody></table></body></html>