<html>
  <head>
    <style type="text/css">
      body {
        background-color: #fff;
      }
    </style>
  </head><body><table width="100%" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td height="68" bgcolor="#ffffff"><table cellpadding="0" cellspacing="0" align="left"><tbody><tr><td width="207" height="68"><img src="<%= @assets_url %>/images/themes/vote_tl.gif" width="207"></td><td align="right"> </td></tr></tbody></table></td></tr><tr><td width="100%" height="100%" bgcolor="#ffffff" valign="top"><table width="100%" height="100%" style="table-layout:fixed;" cellspacing="0" cellpadding="0" align="center"><tbody><tr><td width="60"> </td><td valign="top" style="overflow:hidden;white-space:nowrap;"><table width="100%" style="white-space:normal;" cellspacing="0" cellpadding="0"><tbody><tr><td height="10"> </td></tr><tr><td><font size="3" color="#444444" style="font-size: 12pt; color: rgb(68, 68, 68); font-family: inherit; "><div style=""><div>SAMPLE_TEXT</div><div style=""></div></div></font></td></tr><tr><td height="10"> </td></tr></tbody></table></td><td width="60"> </td></tr></tbody></table></td></tr><tr><td height="146" bgcolor="#ffffff"><table cellpadding="0" cellspacing="0" align="right"><tbody><tr><td> </td><td width="364" height="146" align="right"><img src="<%= @assets_url %>/images/themes/vote_br.gif" width="364"></td></tr></tbody></table></td></tr></tbody></table></body></html>