#footer
  %p
    %span#copyright.t Copyright &copy; 2011 Yahoo! Inc. All rights reserved. 
    |
    %a#launch_labs.p{:href => "#"} yahoo_labs
    |
    %a#launch_privacy.p{:href => "#"} privacy_policy
    |
    %a#launch_faq.p{:href => "#"} faq
  