#footer
  %p
    %span#copyright.t Copyright &copy; 2011 Yahoo! Inc. All rights reserved. 
    |
    %a#launch_privacy.p{:href => "http://info.yahoo.com/privacy/us/yahoo/labs/iymp/details.html", :target => "_blank"} privacy_policy
    |
    %a#launch_faq.p{:href => "http://info.yahoo.com/privacy/us/yahoo/labs/iympfaq/details.html", :target => "_blank"} faq
  