/* 

Main view styles 

*/

html, body {
  color: #444;
}

.content {
}
p.terms {
  color: #666;
  font-size: 12px;
}

#footer {
  color: #aaa; 
}

#message_link {
  text-align: center;
}

.btn a {
  background-color: #FBD27E;
  background-image: -moz-linear-gradient(#FFF4D6, #F7B739);

  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.75);  
  margin: 3px;
  
  border: 1px solid #835980;
  cursor: pointer;
  height: auto;
  line-height: 13px;
  padding: 0;
  position: relative; 
  
  text-align: center;
  
  border-radius: 4px;
  -moz-border-radius: 4px;
  
  color: #000;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  line-height: 15px;
  padding: 3px 15px;
  text-decoration: none;
}
.btn a:hover {
  background-color: #F2C46C;
  background-image: -moz-linear-gradient(#FFF4D6, #E9A436);
}


