%h1#main_heading.t Human Review

#opt_in{:style => "display: none;"}
  %h2#opt_in_subhead.t Help Yahoo! help you by opting into our Human Review Program

  .content
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet, diam quis vehicula pretium, dolor felis euismod mi, eu facilisis mauris dolor sit amet odio. 

    %p Quisque posuere quam ut arcu scelerisque interdum. In hac habitasse platea dictumst. Vestibulum rhoncus convallis augue, ac hendrerit eros tempor ut. 

    %p#message_link
      %a#opt_in_link{:href => "#"} Opt In
  
    %p.terms By clicking on the "Opt In" button above, I certify that I have read and agree to the new Yahoo! Terms of Service, Yahoo! Privacy Policy and Mail Terms of Service, and to receive account-related communications from Yahoo! electronically.  Yahoo! automatically identifies items such as words, links, people and subjects from your Yahoo! communications services to deliver product features and relevant advertising.

#opt_out{:style => "display: none;"}
  %h2#opt_out_subhead.t Thanks anyway

  .content
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum imperdiet, diam quis vehicula pretium, dolor felis euismod mi, eu facilisis mauris dolor sit amet odio. 

    %p Quisque posuere quam ut arcu scelerisque interdum. In hac habitasse platea dictumst. Vestibulum rhoncus convallis augue, ac hendrerit eros tempor ut. 

    %p#message_link
      %a#opt_out_link{:href => "#"} Opt Out

    %p.terms By clicking on the "Opt Out" button above, I certify that I have read and agree to the new Yahoo! Terms of Service, Yahoo! Privacy Policy and Mail Terms of Service, and to receive account-related communications from Yahoo! electronically.  Yahoo! automatically identifies items such as words, links, people and subjects from your Yahoo! communications services to deliver product features and relevant advertising.

#footer
  %p#copyright.p Copyright &copy; 2011 Yahoo! Inc. All rights reserved. Copyright Policy | Terms of Service | Guide to Online Security.
  